!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Weightable - Track your weight loss with your friends.
    / Latest compiled and minified CSS
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel: "stylesheet"}/
    / put in font awesome
    %link{href: "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
    :css
      /** {
          border: 1px solid blue;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }*/
      /* You will put the rest of the styles here */
      #signup {
          border-left: 1px solid gray;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
      .btn, input{
      	margin-top: 3px;
      	margin-bottom: 3px;
      }
       * Social Buttons for Twitter Bootstrap v1.0.0
       *
       * Copyright 2013 Adam Neumann
       * Licensed under the Apache License v2.0
       * http://www.apache.org/licenses/LICENSE-2.0
       */

      .btn-facebook {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #2b4b90;
        *background-color: #133783;
        background-image: -moz-linear-gradient(top, #3b5998, #133783);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
        background-image: -webkit-linear-gradient(top, #3b5998, #133783);
        background-image: -o-linear-gradient(top, #3b5998, #133783);
        background-image: linear-gradient(to bottom, #3b5998, #133783);
        background-repeat: repeat-x;
        border-color: #133783 #133783 #091b40;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      }

      .btn-facebook:hover,
      .btn-facebook:focus,
      .btn-facebook:active,
      .btn-facebook.active,
      .btn-facebook.disabled,
      .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783;
        *background-color: #102e6d;
      }

      .btn-facebook:active,
      .btn-facebook.active {
        background-color: #0d2456 \9;
      }
  %body
    %nav.navbar.navbar-inverse{role: "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-12", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "#"} Weightable
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-2.collapse.navbar-collapse
        /
          <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
          </ul>
          </li>
          </ul>
        %form.navbar-form.navbar-left{role: "search"}
          .form-group>
            %input.form-control{placeholder: "Search for friends", type: "text"}/
          \ 
          %button.btn.btn-primary{type: "submit"} Submit
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#"} Friends List
          %li
            %a{href: "#"} View Profile
          %li
            %a{href: "#"} Edit Profile
          %li
            %a{href: "#"} Sign Out
          /
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            </ul>
            </li>
      / /.navbar-collapse
    / Begin in the next actions putting HTML here
    .row
      .col-sm-12  
    .row