#userimage.col-md-3
  .col-md-2
  .col-md-8
    %img{src: "http://placekitten.com/g/200/350"}/
  .col-md-2
.col-md-9
  .col-lg-12
    / <div class="col-sm-1"></div>
    .col-sm-12
      %h1 {friend.name}
  .col-lg-12
    .col-xs-7
      %h3 Current Weight:
    .col-xs-2
      %h3 {friend.weight.current}
    .col-xs-1
      %h3
        %i#up.fa.fa-arrow-up
    .col-xs-2  
  .col-lg-12
    .col-xs-7
      %h3 Goal Weight:
    .col-xs-3
      %h3 {friend.weight.goal}
    .col-xs-2  
  .col-lg-12